@model Product

<form method="post">
    <div class="border p-3 mt-4">

        <div class="row pb-2">
            <h2 class="text-primary">Delete Product</h2>
            <hr />
        </div>

        <div class="mb-3 row p-0">
            <label asp-for="Title" class="p-0">Title</label>
            <input asp-for="Title" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Description" class="p-0">Description</label>
            <input asp-for="Description" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="ISBN" class="p-0">ISBN</label>
            <input asp-for="ISBN" disabled class="form-control" />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Author" class="p-0">Author</label>
            <input asp-for="Author" disabled class="form-control" />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="ListPrice" class="p-0">ListPrice</label>
            <input asp-for="ListPrice" disabled class="form-control" />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Price" class="p-0">Price</label>
            <input asp-for="Price" disabled class="form-control" />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Price50" class="p-0">Price50</label>
            <input asp-for="Price50" disabled class="form-control" />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Price100" class="p-0">Price100</label>
            <input asp-for="Price100" disabled class="form-control" />
        </div>

        <div class="row">

            <div class="col-6 col-md-3">
                <button class="btn btn-danger form-control" type="submit">Delete</button>
            </div>

            <div class="col-6 col-md-3">
                <a class="btn btn-secondary form-control border" asp-controller="Product" asp-action="Index">Back to List</a>
            </div>

        </div>

    </div>
</form>